<div class="flex bg-gray-200 justify-between items-center p-4">
  <div class="items-center">
    <a routerLink="/"> Super marché Angular </a>
    <p class="text-xs">Bienvenue {{ (user | async)?.email }}</p>
  </div>

  <div class="flex gap-4">
    <div class="relative flex">
      <a routerLink="/cart" class="bg-blue-500 rounded-md px-2 py-1 text-white">
        Panier
      </a>
      <div
        class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 p-1 bg-red-500 text-xs rounded-full text-white flex items-center justify-center"
        style="width: 20px; height: 20px"
      >
        {{ cartItemCount }}
      </div>
    </div>

    <button
      *ngIf="showLoginButton"
      (click)="loginWithGoogle()"
      class="bg-blue-500 rounded-md px-2 py-1 text-white"
    >
      Connexion
    </button>
    <button
      *ngIf="showLogoutButton"
      (click)="logout()"
      class="border border-red-500 text-red-500 rounded-md px-2 py-1"
    >
      <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
    </button>
  </div>
</div>
